/*-----------------Custom Input Field-----------*/
.input-field {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
}

.input-field .start {
    margin-right: 10px;
}

.input-field .group {
    justify-self: stretch;
    position: relative;
}

.input-field input {
    background: none;
    color: var(--color-1);
    font-size: 18px;
    padding: 10px 0 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--color-1);
}

.input-field input:focus {
    outline: none;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
    top: -5px;
    font-size: 12px;
    color: var(--color-1);
}

.input-field input:focus ~ .bar:before {
    width: 100%;
}

.input-field label {
    color: var(--color-1);
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    font-family: CustomBodyText, sans-serif;
}

.input-field .bar {
    position: relative;
    display: block;
    width: 100%;
}
.input-field .bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: var(--color-1);
    transition: 0.2s ease all;
    left: 0;
}