/*-----------------Forgot Password Page---------*/
#forgot-password {
    display: grid;
    justify-content: center;
}

#forgot-password .MuiInputBase-adornedStart .MuiInputBase-input {
    margin-left: 8px;
}

#forgot-password .buttons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 16px;
}